POSTGRES_DB="pondersec_judgeai_db"
POSTGRES_USER="pondersec_judgeai_user"
POSTGRES_PASSWORD="SENHA_POSTGRESS"
POSTGRES_PORT="5432"
GEMINI_API_KEY="SUA_CHAVE_GEMINI_API"
GROQ_API_KEY="SUA_CHAVE_GROQ_API"

DB_ENGINE="django.db.backends.postgresql"
DB_NAME="pondersec_judgeai_db"
DB_USER="pondersec_judgeai_user"
DB_PASSWORD="SENHA_DB"
DB_HOST="db"
DB_PORT="5432"
PGADMIN_PORT="5050"
PGADMIN_EMAIL="seuemail@gmail.com"
PGADMIN_PASSWORD="SENHA_PGADMIN"

DJANGO_PORT="8000"